/* === Base === */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 20px;
}

h1, h2 {
  color: #2c3e50;
  text-align: center;
}

p {
  font-size: 18px;
  margin: 10px 0;
}

.center {
  text-align: center;
}

.empty {
  text-align: center;
  color: #7f8c8d;
  font-style: italic;
}

/* === Header === */
header {
  position: relative;
  height: 60px;
  background-color: transparent;
}

.header-content {
  background-color: #9acb61;
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 20px;
  
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  z-index: 2;
}

.logo-img {
  height: 100px;
  width: auto;
  object-fit: contain;
}

.header-title {
  position: absolute;
  right: 2rem;
  color: white;
  font-size: 2.2rem;
  font-weight: 20;
  z-index: 2;
  top: -25%;
  
}

/* === Container === */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.card-login {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px 15%;
  
}
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  max-width: 150px;
}

.row {
  margin-left: 25%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.row-4 {
  margin-left: 16%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.card-img {
  height: 30px;
  width: auto;
  object-fit: contain;
}
h3 {
  background-color: #243b83;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
}
/* === Footer === */
footer {
  color: white;
  position: relative;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  background-color: #243b83;
  margin-top: 30px;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 5px;
}

/* === Tabelas === */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
}

th {
  background-color: #3498db;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* === Botões === */
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #a3c441;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  font-weight: bold;
  border: none;
}

.btn:hover {
  background-color: #243b83;
}

/* === Alertas === */
.alerta {
  background-color: #f8d7da;
  color: #721c24;
}

/* === Listas === */
ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nome {
  font-weight: bold;
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* === Formulários === */
.form-group {
  margin-bottom: 15px;
  width: 100%;
  max-width: 400px;
  text-align: left;
}

.form-login,
.form-cadastro {
  top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.erro {
  color: red;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.form-fields {
  width: 100%;
  max-width: 500px;
}

.form-fields p {
  margin-bottom: 15px;
}

.form-fields label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #2c3e50;
}

.form-fields input,
.form-fields select,
.form-fields textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.fornecedor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fornecedor-header h2 {
  margin-bottom: 0;
}

.card-comparativo {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    width: 230px;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.card-header {
    display: flex;
    align-items: center;
    padding: 3px;
}

.card-icon {
    width: auto;
    height: 54px;
    margin-right: 6px;
}

.card-body-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    margin: 1px;
}

.card-section {
    flex: 1;
    text-align: center;
}

.divisor-vertical {
    width: 2px;
    height: 80px;
    background-color: #ccc;
    margin: 0 5px;
    display: inline-block;
}

.label {
    font-size: 1em;
    color: #666;
    display: block;
    margin-bottom: 5px;
}

.valor {

    font-size: 1.8em;
}

.valor.destaque {
    font-size: 1.8em;
    color: #333;
}

.logo-sistema {
  max-width: 200px;          /* ajusta tamanho da imagem */
  margin-top: 20px;
}

