body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
    padding: 20px;
}

header {
  z-index: 1000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 10px;
}

.header-content {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}


.container {
    max-width: 900px;
    margin: auto;
    background-color: #fff;
    padding: 60px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    color: #2c3e50;
    text-align: center;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #3498db;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;

    
    border: none;
}

.btn:hover {
    background-color: #219150;
}

.center {
    text-align: center;
}

.alerta {
    background-color: #f8d7da;
    color: #721c24;
}
/*verificar*/
ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    
    display: flex;
    justify-content: space-between;
    gap: 20px;

}
.nome {
    font-weight: bold;
}

.empty {
    text-align: center;
    color: #7f8c8d;
    font-style: italic;
}

footer {
  position: relative;
  bottom: 0;
  margin: auto;
  max-width: 900px;
  background-color: #fff;
  margin-top: 10px;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
  max-width: 400px;
  text-align: left;
}
.form-login, 
.form-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.erro {
  color: red;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}
    


.form-fields {
  width: 100%;
  max-width: 500px;
}

.form-fields p {
  margin-bottom: 15px;
}

.form-fields label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #2c3e50;
}

.form-fields input,
.form-fields select,
.form-fields textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
