{% extends 'base.html' %}

{% block content %}
  {% if messages %}
    <ul class="erro">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <!-- Botão voltar para dashboard -->

  <!-- Formulário de filtro por nome do produto -->
  <div class="center" style="margin-top: 20px;">
    <form method="get">
      <input type="text" name="produto" placeholder="Buscar produto..." value="{{ produto_nome }}">
      <button type="submit" class="btn">Pesquisar</button>
      <a href="{% url 'lista_estoques' %}" class="btn">Limpar</a>
    </form>
  </div>
  <div>
    <a href="{% url 'adicionar_estoque' %}" class="btn">Adicionar Produto ao Estoque</a>
  </div>
  <!-- Tabelas de estoques por empresa -->
  {% if estoques %}
    {% regroup estoques by empresa as estoques_por_empresa %}
    {% for grupo in estoques_por_empresa %}
      <h3>
        {{ grupo.grouper.nome }}
        <a href="{% url 'ver_logs' grupo.grouper.id %}" class="btn">Ver Logs</a>
      </h3>
      <table>
        <thead>
          <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Quantidade Mínima</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for estoque in grupo.list %}
            <tr {% if estoque.quantidade < estoque.quantidade_minima %} style="background-color: rgb(255, 165, 192); font-weight: bold;" {% endif %}>
              <td>{{ estoque.produto.nome }}</td>
              <td>{{ estoque.quantidade }}</td>
              <td>{{ estoque.quantidade_minima }}</td>
              <td>
                {% if empresa_usuario == estoque.empresa %}
                  <a href="{% url 'editar_estoque' estoque.id %}" class="btn">Editar</a>
                  <a href="{% url 'excluir_estoque' estoque.id %}" class="btn alerta">Excluir</a>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <hr>
    {% endfor %}
  {% else %}
    <p class="empty">Nenhum estoque cadastrado.</p>
  {% endif %}
{% endblock %}