{% extends 'base.html' %}

{% block content %}
   {% if messages %}
    <ul class="erro">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <!-- Botão para cadastrar nova empresa -->
  <div>
    <a href="{% url 'cadastrar_empresa' %}" class="btn">Cadastrar Nova Empresa</a>
    
  </div>

  <!-- Tabela de empresas -->
  {% if empresas %}
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Telefone</th>
          <th>Endereço</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for empresa in empresas %}
          <tr>
            <td>{{ empresa.nome }}</td>
            <td>{{ empresa.email }}</td>
            <td>{{ empresa.telefone }}</td>
            <td>{{ empresa.endereco }}</td>
            <td>
              <a href="{% url 'editar_empresa' empresa.id %}" class="btn">Editar</a>
              <a href="{% url 'excluir_empresa' empresa.id %}" class="btn alerta">Excluir</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="empty">Nenhuma empresa cadastrada.</p>
  {% endif %}
{% endblock %}