{% load static %}
<header>
  <div class="header-content"></div>
    <div class="logo-container">
      <img src="{% static 'img/logo-hidro.png' %}" alt="Logo" class="logo-img">
    </div>
    {% if header_title %}
      <h1 class="header-title">{{ header_title }}</h1>
    {% endif %}
  </div>
</header>
<nav class="center">
  <img src="{% static 'img/logo-sistema.png' %}" alt="Imagem centralizada" class="logo-sistema">
  {% if request.user.is_authenticated %}
    <div>
      <!-- Se estiver em página diferente da dashboard mostra o botão -->
      {% if request.path != '/dashboard/' %}
      <a href="{% url 'dashboard' %}" class="btn">Dashboard</a>
      {% endif %}
      <a href="{% url 'logout' %}" class="btn">Sair</a>
    </div>
  
  </nav>
    <div class="row">
    <div class="card">
      <img src="{% static 'img/usuario.png' %}" alt="Logo" class="card-img">
      <p class="center">Tipo de usuário: {{ user.tipo_usuario }}</p>
    </div>
    <div class="card">
      <img src="{% static 'img/empresa.png' %}" alt="Logo" class="card-img">
      <p class="center">Empresa: {{ user.empresa.nome }}</p>
    </div>
    <div class="card">
      {% if request.user.is_authenticated %}
        <img src="{% static 'img/login.png' %}" alt="Logo" class="card-img">
        <p class="center">Bem-vindo, {{ request.user.username }}! </p>
      {% endif %}
    </div>
  </div>
  {% endif %}