{% extends 'base.html' %}

{% block content %}

        <h2>Funcionários pendentes de ativação</h2>
        <form method="post">
            {% csrf_token %}
            <ul>
                {% for usuario in pendentes %}
                <li>
                    <div class="info">
                        <span class="nome">{{ usuario.username }}</span>
                        <span>{{ usuario.email }}</span>
                    </div>

                    <button class="btn" name="usuario_id" value="{{ usuario.id }}">Ativar</button>
                </li>
                {% empty %}
                <li class="empty">Nenhum funcionário pendente.</li>
                {% endfor %}
            </ul>
        </form>

{% endblock %}